body {
    background-color: #f0f2f5;
    padding: 20px;
}

#main {
    width: 100%;
    height: auto;
    padding: 40px; 
    /* background-color: rgb(101, 28, 28); */
    border-radius: 50px;
} 

.container {
    max-width: 1250px;
    width: 99%;
    border: 10px solid #dee2e6;
    padding: 20px;
    margin: 3px 4px 3px 4px;
    background-color: #51db8d;
    border-radius: 25px;
 
    color: black; 
}