<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Availability</title>
    <link rel="stylesheet" href="/statics/style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
          crossorigin="anonymous">
    
    <style>
 
        .btn-check:checked + .btn-toggle-color {
            background-color: #dc3545; 
            border-color: #dc3545;
            color: #fff;
        }

       
        .btn-check:checked + .btn-toggle-color:hover {
            background-color: #bb2d3b; 
            border-color: #b02a37;
            color: #fff;
        }
    </style>
</head>
<body>

<div id="main">
<div class="container mt-5 mb-5 row justify-content-center">

    <form action="#" method="post">
    <div class="card shadow-sm border-dark border-2 rounded-3">
        <div class="card-body p-4">
            
            <h2 class="card-title mb-4">Doctor's Availability</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item py-2 px-0">
                    <div class="row g-3 align-items-center">
                        <div class="col-md-4">
                            <div class="p-2 border border-dark bg-primary-subtle rounded text-center">
                                    21/01/2025
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" class="btn-check" id="time-21-am" autocomplete="off">
                            <label class="btn btn-outline-success w-100 btn-toggle-color" for="time-21-am">08:00 - 12:00 am</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" class="btn-check" id="time-21-pm" autocomplete="off">
                            <label class="btn btn-outline-success w-100 btn-toggle-color" for="time-21-pm">04:00 - 9:00 pm</label>
                        </div>
                    </div>
                    </li>

                    

        <div class="text-end mt-4">
            <button type="submit" class="btn btn-outline-success bg-primary-subtle px-4">
                save
            </button>
        </div>  
    
    </form>   
</div>
        
</div>   
</div>
</body>
</html>