<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/statics/style.css">

</head>

<body>
    <nav class="navbar">
        <div class="navbar-left">

            <a class="logo">
                <img src="/photo/hospital_logo.png" alt="Logo">
            </a>
             <a href="home.html">
            <button class="home">Home</button>
            </a>
        </div>

        <div class="navbar-center">
            <span class="system-name">VitalCare Hospital</span>
        </div>

        <div class="navbar-right">
            <a href="#" >
                <button class="appointment">Book Appointment</button>
            </a>
            <a href="login.html">
                <button class="log">login</button>
            </a>
            <a href="register.html" target="_blank">
                <button class="register">Patient Registration</button>
            </a>
            
        </div>
    </nav>

    <div class="white-bg home-section">
        <div class="home-text">
            <p class="home-p1">Your  Health is Our <br> Mission</p>
            <p class="home-p2">Building <br> Healthier Bharat </p>
            <hr>
        </div>

        <div class="home-photo">
            <img src="/photo/home_doctor.png" alt="Logo">
        </div>
    </div>


</body>
</html>